body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  width: 100%;
}

header {
  text-align: center;
  vertical-align: middle;
}

main {
  text-align: center;
}

section {
  display: inline-block;
  vertical-align: top;
  margin: 1em;
  padding: 0 2em;
  width: 25%;
  min-width: 15em;
  background-color: hsla(0, 0%, 97%, 1);
  border-radius: 1em;
}

.config {
  max-width: 10em;
}

.date-selector {
  font-size: 1em;
}

h2 {
  text-align: center;
}

input[type=number] {
  width: 3em;
}

.bike-traffic {
  width: 100%;
  display: inline-block;
  position: relative;
  background-color: black;
  background-image: url('../images/FremontBridge.png');
  background-size: contain;
}

.bike-traffic:after {
  padding-top: 27%;
  display: block;
  content: '';
}

.overlay-replay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: hsla(0, 0%, 90%, .5);
  text-align: center;
  vertical-align: middle;
  font-size: 2em;
}

.btn-replay {
  top: 25%;
  display: block;
  margin: auto;
  font-size: 2em;
}

.nb-rate, .sb-rate {
  font-weight: bold;
  font-size: 1.1em;
}

.weather-icon {
  display: inline-block;
}

.bike-icon {
  vertical-align: middle;
  height: 1.2em;
  line-height: 1em;
}

.bike-small {
  width: 5%;
  position: absolute;
  top: 25%;
  z-index: 5;
}

.bike-nb {
  animation: nb-translate 2s linear;
}

.bike-sb {
  animation: sb-translate 2s linear;
}

@keyframes nb-translate {
  0% {
    transform: translate(2000%, 20%);
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    transform: translate(0em, 20%);
    opacity: 0;
  }
}

@keyframes sb-translate {
  0% {
    transform: translate(0, 150%);
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    transform: translate(2000%, 150%);
    opacity: 0;
  }
}
